@page "/"

@* <div >
    <h1>سلام دوستان!</h1>

    به برنامه ی جدید خوش آمدید.

    <SurveyPrompt Title="نرم افزار Blazor چگونه کار می کند؟" />
    </div> *@

<div class="container">
	<div class="row">
		<div class="col-sm-3">

			<div class="card text-center bg-light mb-3" style="height: 15rem;">
				@* <div class="card-header">
				معاونت تولید
				</div> *@
				<div class="card-body">
					<a href="#">
						<img width="120" height="120" src="svg/Film-scriptwriting-logo.svg">
					</a>
					@* <h5 class="card-title">معاونت تولید</h5> *@
					<p class="card-text">
						گروه نویسندگان
					</p>
					@* <a href="#" class="btn btn-primary">Go somewhere</a> *@
				</div>
				@* <div class="card-footer text-muted">
				2 days ago
				</div> *@
			</div>

		</div>

		<div class="col-sm-3">

			<div class="card text-center bg-light mb-3" style="height: 15rem;">
				@* <div class="card-header">
				معاونت تولید
				</div> *@
				<div class="card-body">
					<a href="#">
						<img width="120" height="120" src="svg/Film-production-logo.svg">
					</a>
					@* <h5 class="card-title">معاونت مالی و منابع انسانی</h5> *@
					<p class="card-text">گروه تولید</p>
					@* <a href="#" class="btn btn-primary">Go somewhere</a> *@
				</div>
				@* <div class="card-footer text-muted">
				2 days ago
				</div> *@
			</div>

		</div>

		<div class="col-sm-3">

			<div class="card text-center bg-light mb-3" style="height: 15rem;">
				@* <div class="card-header">
				معاونت تولید
				</div> *@
				<div class="card-body">
					<a href="#">
						<img width="120" height="120" src="svg/0.svg">
					</a>
					@* <h5 class="card-title">معاونت برنامه ریزی و توسعه</h5> *@
					<p class="card-text">معاونت برنامه ریزی و توسعه</p>
					@* <a href="#" class="btn btn-primary">Go somewhere</a> *@
				</div>
				@* <div class="card-footer text-muted">
				2 days ago
				</div> *@
			</div>


		</div>

		<div class="col-sm-3">

			<div class="card text-center bg-light mb-3" style="height: 15rem;">
				@* <div class="card-header">
				معاونت تولید
				</div> *@
				<div class="card-body">
					<a href="#">
						<img width="120" height="120" src="img/Untitled-1.png">
					</a>
					@* <h5 class="card-title">معاونت بازرگانی و اقتصاد</h5> *@
					<p class="card-text">معاونت بازرگانی و اقتصاد</p>
					@* <a href="#" class="btn btn-primary">Go somewhere</a> *@
				</div>
				@* <div class="card-footer text-muted">
				2 days ago
				</div> *@
			</div>

		</div>

		<div class="col-sm-3">

			<div class="card text-center bg-light mb-3" style="height: 15rem;">
				@* <div class="card-header">
				معاونت تولید
				</div> *@
				<div class="card-body">
					<a href="#">
						<img width="120" height="120" src="svg/Untitled-3.svg">
					</a>
					@* <h5 class="card-title">معاونت تولید</h5> *@
					<p class="card-text">
						معاونت تولید
					</p>
					@* <a href="#" class="btn btn-primary">Go somewhere</a> *@
				</div>
				@* <div class="card-footer text-muted">
				2 days ago
				</div> *@
			</div>

		</div>

		<div class="col-sm-3">

			<div class="card text-center bg-light mb-3" style="height: 15rem;">
				@* <div class="card-header">
				معاونت تولید
				</div> *@
				<div class="card-body">
					<a href="#">
						<img width="120" height="120" src="svg/production-line.svg">
					</a>
					@* <h5 class="card-title">معاونت مالی و منابع انسانی</h5> *@
					<p class="card-text">معاونت مالی و منابع انسانی</p>
					@* <a href="#" class="btn btn-primary">Go somewhere</a> *@
				</div>
				@* <div class="card-footer text-muted">
				2 days ago
				</div> *@
			</div>

		</div>

		<div class="col-sm-3">

			<div class="card text-center bg-light mb-3" style="height: 15rem;">
				@* <div class="card-header">
				معاونت تولید
				</div> *@
				<div class="card-body">
					<a href="#">
						<img width="120" height="120" src="svg/reports.svg">
					</a>
					@* <h5 class="card-title">معاونت برنامه ریزی و توسعه</h5> *@
					<p class="card-text">معاونت برنامه ریزی و توسعه</p>
					@* <a href="#" class="btn btn-primary">Go somewhere</a> *@
				</div>
				@* <div class="card-footer text-muted">
				2 days ago
				</div> *@
			</div>


		</div>

		<div class="col-sm-3">

			<div class="card text-center bg-light mb-3" style="height: 15rem;">
				@* <div class="card-header">
				معاونت تولید
				</div> *@
				<div class="card-body">
					<a href="#">
						<img width="120" height="120" src="svg/counting-sub.svg">
					</a>
					@* <h5 class="card-title">معاونت بازرگانی و اقتصاد</h5> *@
					<p class="card-text">معاونت بازرگانی و اقتصاد</p>
					@* <a href="#" class="btn btn-primary">Go somewhere</a> *@
				</div>
				@* <div class="card-footer text-muted">
				2 days ago
				</div> *@
			</div>

		</div>

	</div>
</div>


<br>
<div class="card text-center bg-light mb-3" >
    <div class="card-header">
        سامانه های عمومی شرکت
    </div>
    <div class="card-body">

        @* <h5 class="card-title">معاونت بازرگانی و اقتصاد</h5> *@



        <div class="row">

            <div class="col-sm-4">

                <ul style="direction: rtl; ">
                    <li>
                        <a href="http://eoffice.tobacco.ir/eoffice" style="text-decoration:none;"
                            target="_blank">دبیرخانه</a>
                    </li>
                    <li>
                        <a style="text-decoration:none;" target="_blank"
                            href="http://ac.tobacco.ir/FrmPresentation/Login.aspx">حضور و غیاب</a>
                    </li>
                    <li>
                        <a style="text-decoration:none;" target="_blank" href="http://10.2.3.223/">کدگذاری کالا</a>
                    </li>
                    <li>
                        <a href="http://www.irtobacco.com/app88/login.htm" style="text-decoration:none;"
                            target="_blank">پخش و فروش قدیمی </a>
                    </li>
                </ul>

            </div>


            <div class="col-sm-4">

                <ul>
                    <li>
                        <a href="http://www.irtobacco.com/irancode/productslist.asp" style="text-decoration:none;"
                            target="_blank">ایرانکد محصولات</a>
                    </li>
                    <li>
                        <a href="https://mail.tobacco.ir/owa" style="text-decoration:none;" target="_blank">پست
                            الکترونیک</a>
                    </li>
                    <li>
                        <a href="http://www.irtobacco.com/app88/dic" style="text-decoration:none;" target="_blank">واژه
                            نامه ی دخانیات</a>
                    </li>
                    <li>
                        <a href="http://wiki.tobacco.ir/" style="text-decoration:none;" target="_blank">دانشنامه ی
                            دخانیات</a>
                    </li>
                </ul>

            </div>

            <div class="col-sm-4">

                <ul>
                    <li>
                        <a style="text-decoration:none;" target="_blank"
                            href="http://portal.irtobacco.com/portal/DeskTopModules/LogisticsProject/Logistics/Operational/FrmSupplierLogin.aspx">
                            پورتال تأمین کنندگان</a>
                    </li>
                    <li>
                        <a style="text-decoration:none;" target="_blank"
                            href="http://portal.irtobacco.com/portal/DeskTopModules/CrmProject/CrmProject/Operational/FrmCustomerLogin.aspx">
                            پورتال توزیع کنندگان</a>
                    </li>
                </ul>

            </div>

        </div>

    </div>


    @* <a href="#" class="btn btn-primary">Go somewhere</a> *@

    @* <div class="card-footer text-muted">
        2 days ago
        </div> *@
</div>