<div id="wrap">
    <div id="main" class="container clear-top">




    </div>
</div>


<div class="card-footer row m-0 bg-dark">

    <div class="row ">

        <div class="col-sm-4 ">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <h5 class="card-title">خدمات ما</h5>
                    <p class="card-text">مجموعه ای از فعالیت های مشاوره و ساخت نرم افزارهای اداری و سامانه های عملیاتی مدرن منطبق با اخرین دستاوردهای فن آوری اطلاعات</p>
                    <a href="#" class="btn btn-primary">توضیح بیشتر</a>
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <h5 class="card-title">درباره ی ما</h5>
                    <p class="card-text">اداری کل فن آوری اطلاعات و ارتباطات شرکت دخانیات ایران که به طور جدی نرم افزارهای خود را از سال 1381 تحت وب ارائه کرده است.</p>
                    <a href="#" class="btn btn-primary">توضیح بیشتر</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <h5 class="card-title">تماس با ما</h5>
                    <p class="card-text" dir="rtl">
                        با ما از طرق زیر در تماس باشید:
                        <br>
                        تلفن: 51261220 21 98+
                        <br>
                        <br>
                        <br>

                    </p>
                    
                </div>
            </div>
        </div>

    </div>

</div>